@import url('bootstrap');
@import url('bootstrap-icons');
@import url('@fortawesome/fontawesome-free/css/all.css');

/*Gods index*/
.bg-pantheon{
    position: relative;
    overflow: hidden;
}

.bg-pantheon::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--pantheon-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.16;
    z-index: 0;
}

.bg-pantheon > *{
    position: relative;
    z-index: 1;
}

/*Commons*/
.zoom-hover, .zoom-hover-text{
    transition: transform 0.2s ease-in-out;
}

.zoom-hover:hover{
    transform: scale(1.1);
}

.zoom-hover-text:hover{
    transform: scale(1.06) translateX(1px);
}

.zoom-hover-text{
    display: inline-block;
    transform-origin: left center;
}
